body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #D44C4D;
    background-color: #4D2982;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    height: 280px;
}

h1 {
    font-size: 55px;
    letter-spacing: 0.15em;
    text-shadow: 4px 4px 0.5px #242022;
    margin: 5px auto 0px auto;
    text-align: center;
}

#quarter {
    letter-spacing: 0.15em;
    height: 25px;
    width: 200px;
    text-align: center;
    background: #242022;
    padding: 6px 12px 0px;
    margin: 0px auto;
    border-radius: 25px;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    max-width: auto;
}

#home-total-score, #away-total-score, #new-game-timer {
    border: 2px solid #DDDAE0;
    padding-top: 10px;
    padding-bottom: 3px;
    margin: 25px auto;
    font-style: medium 500;
    background: #242022;
        
}

#home-total-score, #away-total-score {
    color: #FACC22;
    font-size: 36px;
    width: 110px;
    height: 50px;
    margin-top: 15px
}

#new-game-timer {
    color: #D44C4D;
    font-size: 45px;
    letter-spacing: 0.25em;
    width: 250px;
    height: 50px;
    margin: 0px auto;
    padding: 5px 10px 5px 10px;
    text-align: center; //why does the text move//
}

#home-box, #away-box {
    text-align: center;
    border: 3px solid #DDDAE0;
    max-width: auto;
    max-height: auto;
    margin: 10px auto 10px;
    padding: 1px 1px 15px 1px;
}

h3 {
    font-size: 28px;
    text-align: center;
    margin: 10px auto 0px;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 0.5px #242022;
}

.points-btn {
    border: 0px;
    box-shadow: 0px 0px 1px #242022;
    border-radius: 100%;
    
    margin: 0px 5px;
    padding: 10px 12px;
    
    font-size: 24px;
    font-family: 'Orbitron';
    letter-spacing: 0.1em;
    
}

.ngame-btn {
    margin: 0px auto;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Orbitron';
    letter-spacing: 0.1em;
}